body {
	padding: 0;
	margin: 0;
}
#options {
	display: inline-block;
	position: relative;
	vertical-align: top;
	padding: 20px;
}
.canvas-wrapper {
	position: relative;
	display: inline-block;
	width: 935px;
}
#items {
	position: absolute;
}
#newbies_count {
	position: relative;
	width: 32px;
	top: 64px;
    left: 704px;
}
#newbies_count input {
	width: 32px;
	margin: 2px 0 32px 0;
}